<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_css/homePage.css"/>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>NODE JS</title>
</head>
<body>
    <%= detailsXe %>
    <div class="w3-container">
        <h3>Chi tiết xe</h3>

        <div>
            <div>Id</div>
            <div id="fname" class="w3-panel w3-border">
                <p>I have borders.</p>
            </div>
        </div>
    </div>   
</body>
</html>